.card-container {
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

p {
   width: 155px;
   margin: 0 auto;
   overflow-wrap: break-word;
}

.card-container:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 960px) {
    .card-container {
        padding: 5px;
        width: 90%;
        margin: auto auto 1rem;
        transition-property: none;
        width: 200px;
        height: 400px;
    }
    .subtitle {
        font-size: smaller;
    }
}